body{
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.spinner{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    color: orange;
}

.back-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: orange;
    font-size: 30px;
}

.btn {
    background-color: orange;
}

.card {  
    animation: show 300ms ease-in-out;
}

.main{
    /* width: 100vw; */
}

.header{
    position: relative;
    height: 600px;
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 350px;
}

.continent-main{
    animation: show 300ms ease-in-out;
    margin-bottom: 100px;
    margin-top: 100px;
}

.university {
    font-size: 20px;
    border-bottom: 1px solid orange;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.university a {
    text-decoration: none;
}

.footer{
    width: 100%;
    background: black;
    color: white;
    padding: 30px;
}

@keyframes show{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

@media screen and (min-width: 2560px) {
    .main{
        margin: auto;
        max-width: 2000px;
    }
}

@media screen and (max-width: 1500px) {
    .header .inner{
        padding: 0px 100px;
    }
}

@media screen and (max-width: 768px) {
    .header{
        height: 400px;
    }
    .header .inner{
        padding: 0px 20px;
    }
    .back-btn {
        font-size: 18px;
    }
}